{% extends 'base.html'%}
{% block content%}
<div class="container bg-dark">
    <div class="card mb-4 shadow-sm bg-info">
        <div class="card-body">
            <h3 class="card-text display-3">Type: {{ bill.get_type}}.<br>
                Description: {{ bill.description}}.<br>
                Due: {{ bill.due_date}}.<br>
                Amount: {{ bill.amount}}.</h3>
            {% if bill.payday%}
            <h3 class="card-text">Payday: {{ bill.payday}}.</h3>
            {% else %}
            <h3 class="card-text bg-warning">Unpaid.</h3>
            {% endif%}
            <a type="button" href="{% url 'edit' bill.pk %}"
               class=" btn-primary text-center btn-block display-4">Editar</a>
            <a type="button" href="{% url 'delete' bill.pk %}"
               class=" btn-danger text-center btn-block display-4">Apagar</a>
        </div>
    </div>
</div>
{% endblock %}