{% extends 'base.html'%}
{% block content%}
<div class=" bg-dark">
    <div class="card  shadow-sm bg-dark border-white">
        <div class="card-body text-white">
            <span class="card-text display-3">Type: {{ bill.get_type}}.<br>
               <span class="card-text display-3"> Description: {{ bill.description}}.<br>
               <span class="card-text display-3"> Due: {{ bill.due_date|date:"d/m/Y"}}.<br>
               <span class="card-text display-3"> Amount: {{ bill.amount_to_reais}}.</span><br>
            {% if bill.payday%}
            <span class="card-text">Payday: {{ bill.payday}}.</span>
            {% else %}
            <span class="card-text">Payday: -.</span>
            {% endif%}
            <a type="button" href="{% url 'edit' bill.pk %}"
               class=" btn-primary text-center btn-block display-4">Edit</a>
            <a type="button" href="{% url 'delete' bill.pk %}"
               class=" btn-danger text-center btn-block display-4">Remove</a>
        </div>
    </div>
</div>
</div>
{% endblock %}