{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container bg-dark">
    <div class="row">
        <div class="col">
            <form method="post" class="mt-2 text-light">{% csrf_token %}

                {{ form.type|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.amount|as_crispy_field }}
                {{ form.due_date|as_crispy_field }}
                {{ form.payday|as_crispy_field }}


                <input type="submit" class="btn btn-success btn-lg btn-block mb-4 mt-4s" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% include 'partial/_footer.html'%}
