{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% include 'partial/_navbar.html'%}
{% block content%}
<div class="container mt-auto mb-auto">
    <form method="post" class="text-white">
        {% csrf_token %}
        {{ form.type|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {{ form.amount|as_crispy_field }}
        {{ form.due_date|as_crispy_field }}
        {{ form.payday|as_crispy_field }}
        <input type="submit" class="btn btn-success btn-block" value="Atualizar">
    </form>
</div>
{% endblock %}